body {
    background-color:	    #ffffff;
    margin:		    0;
}

div#page {
    margin:		    10px auto;
    width:		    980px;
}

div#page-header {
    color:		    #808080;
    font-size:		    xx-large;
    font-weight:	    bold;
    text-align:		    center;
}

div#page-footer {
    color:		    #808080;
    font-size:		    small;
    font-style:		    italic;
    margin-top:		    10px;
    text-align:		    center;
}

ul#navlist {
    border-bottom:	    1px solid #778;
    font:		    bold 12px sans-serif;
    margin-left:	    0;
    padding:		    3px 0;
}

ul#navlist li {
    display:		    inline;
    list-style:		    none;
    margin:		    0;
}

ul#navlist li a {
    background:		    #dde;
    border:		    1px solid #778;
    border-bottom:	    none;
    margin-left:	    3px;
    padding:		    3px 0.5em;
    text-decoration:	    none;
}

ul#navlist li a:hover {
    background:		    #aae;
    border-color:	    #227;
    color:		    #000;
}

ul#navlist li a#active-navbar-item {
    background:		    white;
    border-bottom:	    1px solid white;
}

span.label {
    color:		    green;
    font-weight:	    bold;
    margin-bottom:	    1px;
}

input {
    font-size:		    larger;
    margin-bottom:	    1em;
}

div.form-container {
    background-color:	    #f0f0f0;
    border:		    1px solid #c0c0c0;
    margin:		    1em auto;
    padding:		    1em;
    padding-bottom:	    0px;
    width:		    300px;
}

div.form-container form input {
    width:		    100%;
}

div.form-container form input.submit {
    width:		    auto;
    float:		    right;
}

div#error-message {
    background-color:	    #fffad0;
    border:		    1px solid#ffe0d0;
    color:		    #a00000;
    padding:		    2px;
}

span.missing {
    color:		    #800000;
    font-weight:	    bold;
}

p {
    text-align:		    justify;
}
